body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    color: #d00; /* Red color for the team name */
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff; /* Blue color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.retired-number {
    color: red;
}

.retired-number-national {
    color: blue;
}

/* Styles for the top players list */
ul.top-players {
    list-style-type: none;
    padding: 0;
}

ul.top-players li {
    display: inline-block;
    margin: 10px; /* Adjust the margin as needed */
    text-align: center;
}

ul.top-players li img {
    width: 150px; /* Adjust the image width as needed */
    height: auto;
}

/* Styles for the retired numbers list */
ul.retired-numbers {
    list-style-type: none;
    padding: 0;
}

ul.retired-numbers li {
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.search-result-image {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px;
}