<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name the 2023 Red Sox Players</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Name the 2023 Red Sox Players</h1>
    <p>Try to name every player on the 2023 Red Sox roster:</p>

    <!-- name_the_players.html -->
<form action="{{ url_for('name_the_players') }}" method="post">
    <ul>
        {% for player in players %}
            <li>
                <label for="player_{{ player['id'] }}">{{ ', '.join(player['position']) }}:</label>
                <input type="text" id="player_{{ player['id'] }}" name="player_{{ player['id'] }}" required>
            </li>
        {% endfor %}
    </ul>
    <button type="submit">Submit Answers</button>
</form>

<p><a href="{{ url_for('team_home') }}">Back to team home</a></p>


</body>
</html>