<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ player['name'] }} - Red Sox Player Detail</title>
</head>
<body>
    <h1>{{ player['name'] }} - Player Detail</h1>
    <p>Position: {{ player['position'] }}</p>
    {% if 'batting_average' in player %}
        <p>Batting Average: {{ player['batting_average'] }}</p>
    {% elif 'era' in player %}
        <p>ERA: {{ player['era'] }}</p>
    {% endif %}
</body>
</html>